.Users {

}

.Users img {
    width: 65px;
    border-radius: 50%;
}

.Followed {
    border-radius: 8px;
    background-color: #4CAF50;
    border: #4CAF50;
}

.Unfollowed {
    border-radius: 8px;
    background-color: #f44336;
    border: white;
}

.Page {
    font-size: xx-large;
    padding: 5px;
    /*font-weight: bold;*/
}

.PageSelected {
    font-size: xx-large;
    padding: 5px;
    font-weight: bold;
}

/*.Followed {*/
/*    height: 30px;*/
/*    width: 100px;*/
/*    display: inline-block;*/
/*    padding: 15px 25px;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*    !*text-align: center;*!*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    color: #fff;*/
/*    background-color: #4CAF50;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 9px #999;*/
/*}*/

/*.Followed:hover {background-color: #3e8e41}*/

/*.Followed:active {*/
/*    background-color: #3e8e41;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/