.Header {
    grid-area: header;

    background-color: #282c34;
    /*display: compact;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: left;*/
    color: white;
}

.LoginBlock {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    color: white;
}

.LoginBlock img {
    width: 30px;
    border-radius: 50%;
}

.NameBlock {
    float: left;
    padding-right: 50px;
    padding-top: 20px;
    color: white;
}

.LoginBlock a{
    color: white;
}

.Logo {
    height: 5vmin;
    pointer-events: none;
    float: left;
    padding: 9px;
}


@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .Logo {
        animation: Logo-spin infinite 10s linear;
    }
}
