.Header {
    grid-area: header;

    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Logo {
    height: 5vmin;
    pointer-events: none;
}


@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .Logo {
        animation: Logo-spin infinite 10s linear;
    }
}
