.Navbar {
    grid-area: navbar;
    background-color: #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}


.Link {
    color: white;
    text-decoration: none;
}

.ActiveLink {
    color: white;
    /*background-color: #282c34;*/
}